.body-main{
    width:100%;
    display:flex;
    flex-direction:row;
    align-content:center;
    padding:0px;
    margin:0px;
    min-height:90vh;
    transition:all 100ms ease-in-out;
}
.body-main-menu-on{
    width:80%;
    position:fixed;
    left:10%;
    right:10%;
    border:1px solid rgba(128, 128, 128, 0.1);
    box-shadow: 1px -1px 10px 1px rgba(0, 0, 0, 0.1);
}
.body-left{
    width:50%;
    height:match-parent;
}
.body-right{
    width:50%;
    height:match-parent;
    border-left:1px solid rgba(255, 255, 255, 0.8);
}