.summary-main-div{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    height:100%;
    background-image:linear-gradient(white,rgb(177, 192, 226));
}
.summary-goto-projects{
    margin-left:auto;
    display:flex;
    flex-direction:row;
    align-items:center;
    margin-right:2vw;
    padding:5px;
    border-radius:10px;
    background-color:rgba(177, 192, 226, 0.5);
    color:rgba(0, 0, 0, 0.6);
}
.summary-goto-projects:hover{
    cursor: pointer;
    background-color: rgba(177, 192, 226, 0.7);
}
.summary-goto-projects img{
    height:24px;
    width:24px;
    margin-left:5px;
}
.summary-goto-projects p{
    font-size:20px;
    line-height:24px;
    padding:0px;
    margin:0px;
    padding-right:5px;
    border-right:1px solid rgba(135, 207, 235, 0.4);
}


.summary-content{
    display:flex;
    flex-direction:column;
    align-content:space-between;
    font-size: 17px;
    line-height:27px;
    padding-left:5vw;
    padding-right:5vw;
    text-align:left;
}

.big-italics{
    font-style:italic;
    font-size:7vh;
    line-height:8vh;
    font-weight:600;
    color:rgba(0, 0, 0, 0.705);
}
.red-text{
    color:rgba(255, 0, 0, 0.7);
    font-size:8vh;
}
.title-text{
    border-left:3px solid rgba(255, 0, 0, 0.7);
    height:15vh;
    line-height:15vh;
    padding-left:1vw;
    font-size:3.5vh;
    font-weight:700;
    color:rgba(0, 0, 0, 0.8);
}