.id-main-div{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    background-image:linear-gradient(white,rgb(177, 192, 226));
    height:100%;
}

#id-main-img img{
    height:25vmax;
    width:25vmax;
    border-radius:50%;
}
#id-about-div p{
    color:rgba(0, 0, 0, 0.9);
    font-weight:600;
}